<h2> Reimbursement for <%= @reimbursement.user.first_name %> </h2>
<h3> <%= @reimbursement.title %> </h3>
<p> <%= @reimbursement.quantity %> </p>
<p> <%= @reimbursement.location %> </p>
<p> <%= @reimbursement.description %></p>